#time_saving {
  -webkit-appearance: none;
  width: 600px;
  margin: 10.3px 0;
}
#time_saving:focus {
  outline: none;
}
#time_saving::-webkit-slider-runnable-track {
  width: 600px;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(0, 0, 0, 0.24);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
#time_saving::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 29px;
  width: 30px;
  border-radius: 20px;
  background: #d5ca1f;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10.5px;
}
#time_saving:focus::-webkit-slider-runnable-track {
  background: rgba(15, 15, 15, 0.24);
}
#time_saving::-moz-range-track {
  width: 600px;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(0, 0, 0, 0.24);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
#time_saving::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 29px;
  width: 30px;
  border-radius: 20px;
  background: #d5ca1f;
  cursor: pointer;
}
#time_saving::-ms-track {
  width: 600px;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
#time_saving::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.24);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
#time_saving::-ms-fill-upper {
  background: rgba(0, 0, 0, 0.24);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
#time_saving::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 29px;
  width: 30px;
  border-radius: 20px;
  background: #d5ca1f;
  cursor: pointer;
  height: 8.4px;
}
#time_saving:focus::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.24);
}
#time_saving:focus::-ms-fill-upper {
  background: rgba(15, 15, 15, 0.24);
}
